synthetic_rescue.parquet filter=lfs diff=lfs merge=lfs -text
trait.parquet filter=lfs diff=lfs merge=lfs -text
two_hybrid.parquet filter=lfs diff=lfs merge=lfs -text
affinity_capture_rna.parquet filter=lfs diff=lfs merge=lfs -text
dosage_growth_defect.parquet filter=lfs diff=lfs merge=lfs -text
eqtl_ukbb.parquet filter=lfs diff=lfs merge=lfs -text
genebass_pLoF_filtered.parquet filter=lfs diff=lfs merge=lfs -text
gwas_catalog.parquet filter=lfs diff=lfs merge=lfs -text
affinity_capture_ms.parquet filter=lfs diff=lfs merge=lfs -text
gene_info.parquet filter=lfs diff=lfs merge=lfs -text
proximity_label_ms.parquet filter=lfs diff=lfs merge=lfs -text
synthetic_growth_defect.parquet filter=lfs diff=lfs merge=lfs -text
genebass_synonymous_filtered.parquet filter=lfs diff=lfs merge=lfs -text
reconstituted_complex.parquet filter=lfs diff=lfs merge=lfs -text
variant_table.parquet filter=lfs diff=lfs merge=lfs -text
sqtl_ukbb.parquet filter=lfs diff=lfs merge=lfs -text
synthetic_lethality.parquet filter=lfs diff=lfs merge=lfs -text
co_fractionation.parquet filter=lfs diff=lfs merge=lfs -text
genebass_missense_LC_filtered.parquet filter=lfs diff=lfs merge=lfs -text
genetic_interaction.parquet filter=lfs diff=lfs merge=lfs -text
gtex_tissue_gene_tpm.parquet filter=lfs diff=lfs merge=lfs -text
pqtl_ukbb.parquet filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
